[submodule "externals/benchmark"]
	url = git@github.com:google/benchmark.git
	path = externals/benchmark
[submodule "externals/googletest"]
	url = git@github.com:google/googletest.git
	path = externals/googletest
[submodule "benchmark"]
	path = benchmark
	url = git@github.com:google/benchmark.git
[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest.git
[submodule "externals/protobuf"]
	path = externals/protobuf
	url = git@github.com:protocolbuffers/protobuf.git
[submodule "externals/zlib"]
	path = externals/zlib
	url = git@github.com:madler/zlib.git
